* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mali", cursive;
    height: 100vh;
    background-image: radial-gradient(
        rgb(255, 255,0),
        rgb(43, 96, 141),
        rgb(109, 107, 245)
    );
    background-size: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 500px;
    background-color: rgb(241, 245,249);
    border-radius: 10px;
    padding: 20px;
}

h1 {
    color: 241, 245, 249;
    background: rgb(144, 81, 168);
    border-bottom: 5px solid rgb(83, 101, 164);
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 50px;
    margin-bottom: 5px 0;
}

select, input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
}

textarea {
    height: 150px;
}

#buttons {
    display: flex;
}

#buttons button {
    color: rgb(241, 245,249);
    background-color: rgb(144, 81, 168);
    border: 0;
    width: 50%;
    font-size: 20px;
    border-bottom: 5px solid rgb(83, 101, 164);
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
    position: relative;
}

#buttons button:active {
    top: 2px;
}